# Vercel Postgres Database
# These environment variables are automatically added when you create
# a Vercel Postgres database and link it to your project.
# Run: vercel env pull .env.local

POSTGRES_URL="postgres://..."
POSTGRES_PRISMA_URL="postgres://...?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://..."
POSTGRES_USER="..."
POSTGRES_HOST="..."
POSTGRES_PASSWORD="..."
POSTGRES_DATABASE="..."
